version: "3.8"

services:
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: "onlyCloud"
      POSTGRES_USER: "onlyUser"
      POSTGRES_PASSWORD: "12345678"
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data

  server:
    environment:
      - HASH=redis:6379
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "8001:8888"
    depends_on:
      - cache
      - db

  cache:
    image: redis:latest
    ports:
      - "6380:6379"
    volumes:
      - cache:/data

volumes:
  db:
    driver: local
  cache:
    driver: local